#oc{
    background-color: #B78156;
}

#as{
    background-color: #DE7769;
}

#me{
    background-color: #A8854F;
}

#eu{
    background-color: #C28A6C;
}

#cb{
    background-color: #BD8B6A;
}
#na{
    background-color: #DBB03E;
}
#sa{
    background-color: #CF7B61;
}
#ca{
    background-color: #439D1C;
}
#af{
    background-color: #858D3D;
}

button{
    font-size: medium;   
}
